.dropdown-list {
  list-style-type: none;
  max-width: 250px;
}

.dropdown-item {
  display: none;
  padding: 10px;
  border: 1px solid black;
}

.dropdown-item:hover {
  cursor: pointer;
  border: 2px solid darkslategrey;
}

.dropdown-item:first-child {
  display: block;
}

.dropdown__open {
  display: block;
}